@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: url(back1.jpg) no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container{
  background-color: rgba(255, 255, 255, 0.322);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgb(0, 0, 0, .8);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
}
h2{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type = "text"]{
  padding: 10px ;
  border: 1px solid #dadada;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  width: 60%;
  margin-right: 5px;
}

form input[type = "submit"]{
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition:  background-color .3s ease;
}

form input[type = "submit"]:hover{
  background-color: #0062cc;
}

.icon img{
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.temperature{
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0;
}

.description{
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.details > div{
    padding: 20px;
    background-color: #dadada;
    margin: 10px;
    /* flex: 1; */
    border-radius: 5px;
}

@media (max-width:768px) {
    form{
      flex-direction: column;
    }
    form input[type="text"]{
      width: 100%;
      margin-bottom: 10px;
    }
}